body {
    background-color: rgb(185, 157, 248);
    font-family: 'Arial', sans-serif;
    color: rgb(33, 4, 51);
}

.full-box {
    background-color: rgb(213, 198, 249);
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.intro {
    text-align: center;
    padding-top: 50px;
}

.content {
    margin: 15px;
}

.technical-skills {
    margin-top: 50px;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer > img {
    width: 30px;
    margin: 12px;
}

button {
    background-color:rgb(185, 157, 248);
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    padding: 7px;
}

.intro > img {
    width: 140px;
    height: 140px;
    border-radius: 20%;
    object-fit: cover;
    border: 3px solid #8966c9;
}